# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/
static/

# Data (Optional: if they are very large, but usually fine for portfolio)
# data/raw/
# data/processed/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
